body
{
    margin: auto;
    max-width: 900px;
    line-height:1.4;

    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0 10px;
    background-color: rgb(207, 207, 207);
}

a 
{
    text-decoration: none;
}

h3
{
    margin: 5px 0
}

h4
{
    margin: 0 0
}

.header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.2em;
}

.footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 50px 0;
    font-size: 0.9em;
}

.icon
{
    width: 32px;
    padding: 5px 10px 0 5px;
    color: black;
}